:root {
    --main-color: #454D97;
    --main-text_color: #ffffff;
    --topic-color: #2CACC4;
    --topic-text_color: #ffffff;

    --submit-hover: #2e3574;
}

p {
    margin: 0 !important;
}

.form-container {
    box-shadow: #F7CAEB 0px 0px 3px 2px;
    padding: 50px;
}

.form-survey input[type='radio'] {
    border: 2px solid var(--main-color) !important;
}

.form-survey input[type='submit'] {
    background-color: var(--main-color);
    color: var(--main-text_color);
}

.form-survey input[type='submit']:hover {
    background-color: var(--submit-hover);
}

.form-survey textarea {
    width: 100%;
    height: 180px;
    margin: 10px 0;
}

.title {
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--main-text_color);
    margin: 20px 0;
}

.survey-title {
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--main-text_color);
    margin: 10px 0;
    display: inline-block;
}

.topic {
    border-radius: 5px;
    background-color: var(--topic-color);
    color: var(--topic-text_color);
    margin: 10px 0;
    margin-bottom: 25px;
    font-weight: 600;
}

.radio-column {
    margin: 0 7px;
    font-size: 0.7em;
    font-weight: 600;
}
